.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: black;

  margin: 10px;


}

@media only screen and (max-width: 495px) {
  .container2 {
    flex-direction: column;
  }
}